.loader {
  width: 80px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  background: transparent;
  display: grid;
  filter: blur(0px) contrast(150%) hue-rotate(0deg);
  mix-blend-mode: normal;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  margin: 5px;
  background: #7f5af0; /* Purple-blue neon */
  border-radius: 50%;
}
.loader:after {
  margin: 17px;
  animation: l9 2s infinite;
}

@keyframes l9 {
  12.5% { transform: translate(-60%, 60%) }
  25%   { transform: translate(65%, -65%) }
  37.5% { transform: translate(0, 0) }
  50%   { transform: translate(60%, 60%) }
  67.5% { transform: translate(-65%, -70%) }
  75%   { transform: translate(60%, -60%) }
}
